@page "{id:int}"
@model Blomsterbinderiet.Pages.UserPages.OrderDetailsModel
@{
    ViewData["Title"] = "Ordreoplysninger";
}

<div class="container p-4">
@if (Model.User.Role == "Customer")
{
    <a asp-page="/UserPages/MyOrders" class="btn btn-primary mb-2" id="btnlight">Tilbage til oversigten</a>
    <div class="col-md-10">
        <div class="card mb-3 p-3" id="titlecard">
            <h1>Ordreoplysninger</h1>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" id="textcolor">Navn</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Name
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Email
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Telefon</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Phone
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Adresse</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Address
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
}
else if(Model.User.Role == "Undertaker")
{
        <a asp-page="/UserPages/MyOrders" class="btn btn-primary mb-2" id="btnlight">Tilbage til oversigten</a>
        <div class="col-md-10">
            <div class="card mb-3 p-3" id="titlecard">
                <h1>Ordreoplysninger</h1>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0" id="textcolor">Afdødes navn</h6>
                        </div>
                        <div class="col-sm-9" id="textcolor">
                            @Model.OrderService.GetDeliveryByOrderIdAsync(Convert.ToInt32(Model.Order.DeliveryId)).Result.DeseasedName
                            
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Leveringsadresse</h6>
                        </div>
                        <div class="col-sm-9" id="textcolor">
                            @Model.OrderService.GetDeliveryByOrderIdAsync(Convert.ToInt32(Model.Order.DeliveryId)).Result.Address
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Leveringstidspunkt</h6>
                        </div>
                        <div class="col-sm-9" id="textcolor">
                            @Model.Order.PickUpDate
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Telefon</h6>
                        </div>
                        <div class="col-sm-9" id="textcolor">
                            @Model.User.Phone
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    }

    else if (Model.User.Role == "Admin" || Model.User.Role == "Employee")
    {
        <a asp-page="/Admin/GetAllOrders" class="btn btn-primary mb-2" id="btnlight">Tilbage til oversigten</a>
        if(Model.Order.DeliveryId == null)
        {
            <div class="col-md-10">
                <div class="card mb-3 p-3" id="titlecard">
                    <h1>Ordreoplysninger</h1>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" id="textcolor">Navn</h6>
                            </div>
                            <div class="col-sm-9" id="textcolor">
                                @Model.UserService.GetUserByIdAsync(Convert.ToInt32(Model.Order.CustomerID)).Result.Name
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9" id="textcolor">
                                @Model.UserService.GetUserByIdAsync(Convert.ToInt32(Model.Order.CustomerID)).Result.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Telefon</h6>
                            </div>
                            <div class="col-sm-9" id="textcolor">
                                @Model.UserService.GetUserByIdAsync(Convert.ToInt32(Model.Order.CustomerID)).Result.Phone
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Adresse</h6>
                            </div>
                            <div class="col-sm-9" id="textcolor">
                                @Model.UserService.GetUserByIdAsync(Convert.ToInt32(Model.Order.CustomerID)).Result.Address
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Kommentar</h6>
                            </div>
                            <div class="col-sm-9" id="textcolor">
                                <form method="post">
                                    <input asp-for="@Model.Order.CommentShop" asp-route-id="@Model.Order.Id" class="form-control" id="noborder" />
                                    <br/>
                                    <button type="submit" class="btn btn-success">Gem</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        }
        else if(Model.Order.DeliveryId != null)
        {
            <div class="col-md-10">
                <div class="card mb-3 p-3" id="titlecard">
                    <h1>Ordreoplysninger</h1>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" id="textcolor">Afdødes navn</h6>
                            </div>
                            <div class="col-sm-9" id="textcolor">
                                @Model.OrderService.GetDeliveryByOrderIdAsync(Convert.ToInt32(Model.Order.DeliveryId)).Result.DeseasedName

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Leveringsadresse</h6>
                            </div>
                            <div class="col-sm-9" id="textcolor">
                                @Model.OrderService.GetDeliveryByOrderIdAsync(Convert.ToInt32(Model.Order.DeliveryId)).Result.Address
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Leveringstidspunkt</h6>
                            </div>
                            <div class="col-sm-9" id="textcolor">
                                @Model.Order.PickUpDate
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Telefon</h6>
                            </div>
                            <div class="col-sm-9" id="textcolor">
                                @Model.User.Phone
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Kommentar</h6>
                            </div>
                            <div class="col-sm-9" id="textcolor">
                                <form method="post">
                                    <input asp-for="@Model.Order.CommentShop" asp-route-id="@Model.Order.Id" class="form-control" id="noborder" />
                                    <br />
                                    <button type="submit" class="btn btn-success">Gem</button>
                                    @if(Model.Message != null)
                                    {
                                        <br />
                                        <p>@Model.Message</p>
                                    }
                                </form>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        }             
    }

    <div class="col-md-10">
        <div class="card p-3" id="titlecard">
            <table class="table">
                <thead>
                    <tr class="table-success">
                        <th>Produkt</th>
                        <th>Stykpris</th>
                        <th>Antal</th>
                        <th>Totalpris</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Models.OrderLine item in Model.OrderLines)
                    {
                        <tr class="table-warning">
                            <td>@Model.ProductService.GetProductByIdAsync(item.ProductID).Result.Name</td>
                            <td>@item.ProductPrice</td>
                            <td>@item.Amount</td>
                            <td>@(item.ProductPrice * item.Amount)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pb-3">Ordrepris @Model.OrderSum kr</div>
        </div>
    </div>
</div>
