@page
@model Blomsterbinderiet.Pages.Admin.GetAllOrdersModel
@{
}
<br />
<h1>Alle ordrer</h1>
<br />
<div class="test">
    <table class="table table-bordered table-hover table-striped" width="60%">
        <thead>
            <tr class="btn-secondary active">
                <th>Ordre ID</th>
                <th>Kunde ID</th>
                <th>Håndteret af</th>
                <th>Oprettet d.</th>
                <th>Afsluttet d.</th>
                <th>Kommentar</th>
                <th>Status</th>
                <th>Total pris</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            @if (@Model.MyOrders != null)
            {
                foreach (var order in Model.MyOrders)
                {
                    <tr class="btn-secondary">
                        <td>
                            @order.Id
                        </td>
                        <td>
                            @order.CustomerID
                        </td>

                        <td>
                            @if (order.EmployeeID != null)
                            {
                                @Model.UserService.GetUserByIdAsync(Convert.ToInt32(order.EmployeeID)).Name

                            }
                            
                        </td>
                        <td>
                            @order.OrderDate
                        </td>
                        <td>
                            @order.CompletedDate
                        </td>
                        <td>
                            @order.CommentShop
                        </td>
                        <td>
                            @order.OrderStatus
                        </td>
                        <td>
                            Pris
                        </td>
                        <td>
                            @* <form method="post" asp-page-handler="Confirm" asp-route-id="@order.Id"><button class="btn-success">Bekræft</button></form>
                            <form method="post" asp-page-handler="Deny" asp-route-id="@order.Id"><button class="btn-danger">Afvis</button></form> *@
                            @if(order.OrderStatus == Blomsterbinderiet.Enum.Status.Ny)
                            {
                                <form method="post" asp-page-handler="Confirm" asp-route-id="@order.Id"><button class="btn-success">Bekræft</button></form>
                                <form method="post" asp-page-handler="Deny" asp-route-id="@order.Id"><button class="btn-danger">Afvis</button></form>
                            }
                            else if(order.OrderStatus == Blomsterbinderiet.Enum.Status.Bekræftet)
                            {
                                <form method="post" asp-page-handler="InProgress" asp-route-id="@order.Id"><button class="btn-success">Start klargøring</button></form>
                            }
                            else if(order.OrderStatus == Blomsterbinderiet.Enum.Status.Klargøres)
                            {
                                <form method="post" asp-page-handler="InProgress" asp-route-id="@order.Id"><button class="btn-success">Overtag klargøring</button></form>
                                <form method="post" asp-page-handler="ChangeStatus" asp-route-id="@order.Id"><button class="btn-success">Klar til afhentning</button></form>
                            }
                            else if(order.OrderStatus == Blomsterbinderiet.Enum.Status.Færdig)
                            {
                                <form method="post" asp-page-handler="ChangeStatus" asp-route-id="@order.Id"><button class="btn-success">Udleveret</button></form>
                            }

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>