@page
@model Blomsterbinderiet.Pages.Admin.GetAllOrdersModel
@{
}
<div class="container p-4">
    <div class="col-md-12">
        <div class="card mb-3 p-3" id="titlecard">
            <h1>Alle ordrer</h1>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="test">
                        <table class="table table-hover overflow-visible" width="60%">
                            <thead>
                                <tr class="btn-secondary table-success active">
                                    <th>Ordre ID</th>
                                    <th>Kunde ID</th>
                                    <th>
                                        <div class="nav-item dropdown">
                                            <button type="button" data-toggle="dropdown">
                                                <i class="fa fa-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                @foreach (Models.User user in Model.Employees)
                                                {
                                                    <a title="filtreMedarbejder" asp-page-handler="FilterByEmployee" asp-route-id="@user.ID">@user.Name</a>
                                                }
                                                <a title="filtreMedarbejder" asp-page-handler="FilterByEmployeeNull">Ingen medarbejder</a>
                                            </div>
                                        </div>
                                        Håndteret af
                                        <a data-toggle="tooltip" title="SorterMedarbejder" asp-page-handler="SortByEmployee"><i class="fa fa-sort-up"></i></a>
                                        <a data-toggle="tooltip" title="SorterMedarbejder" asp-page-handler="SortByEmployeeDes"><i class="fa fa-sort-down"></i></a>
                                    </th>
                                    <th>Oprettet d.</th>
                                    <th>
                                        <div class="nav-item dropdown">
                                            <button type="button" data-toggle="dropdown">
                                                <i class="fa fa-filter"></i>
                                            </button>
                                            <div>
                                                <form method="post">
                                                    <div class="form-group dropdown-menu pt-4 pb-4">
                                                        <label asp-for="Date" class="col-form-label ">Vælg dato</label>
                                                        <button type="submit" title="Bekræft" asp-page-handler="FilterByDueDate"><i class="fa fa-check"></i></button>
                                                        <button title="I dag" asp-page-handler="FilterByDueDateToday">I dag</button>
                                                        <div>
                                                            <input asp-for="Date" value="@DateOnly.FromDateTime(DateTime.Now).AddDays(1)" />
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        Afhentes d.
                                        <a data-toggle="tooltip" title="SorterAfhentningsdato" asp-page-handler="SortByDueDate"><i class="fa fa-sort-up"></i></a>
                                        <a data-toggle="tooltip" title="SorterAfhentnignsdato" asp-page-handler="SortByDueDateDes"><i class="fa fa-sort-down"></i></a>
                                    </th>
                                    <th>Afsluttet d.</th>
                                    <th>Kommentar</th>
                                    <th>
                                        <div class="nav-item dropdown">
                                            <button type="button" data-toggle="dropdown">
                                                <i class="fa fa-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                @foreach (var status in Model.StatusList)
                                                {
                                                    <a title="filtreStatus" asp-page-handler="FilterByStatus" asp-route-status="@status">@status</a>
                                                }
                                            </div>
                                        </div>
                                        Status
                                        <a data-toggle="tooltip" title="SorterStatus" asp-page-handler="SortByStatus"><i class="fa fa-sort-up"></i></a>
                                        <a data-toggle="tooltip" title="SorterStatus" asp-page-handler="SortByStatusDes"><i class="fa fa-sort-down"></i></a>
                                    </th>
                                    
                                    <th>
                                        <a class="btn" id="btngrey" title="AllOrders" asp-page-handler="SeeAll">Se alle ordrer</a>
                                        <a class="btn" id="btngrey" title="filterReset" asp-page-handler="Reset">Reset Filter</a>
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (@Model.MyOrders != null)
                                {
                                    foreach (var order in Model.MyOrders)
                                    {
                                        @* ændrer farven på hele rækken hvis ordren er ny *@
                                        var rowStyle = (order.OrderStatus == Enums.Status.Ny) ? "table-success" : "table-warning";
                                        <tr class="btn-secondary @rowStyle">
                                            <td>
                                                @order.Id
                                            </td>
                                            <td>
                                                @order.CustomerID
                                            </td>
                                            <td>
                                                @if (order.EmployeeID != null)
                                                {
                                                    @Model.UserService.GetUserByIdAsync(Convert.ToInt32(order.EmployeeID)).Result.Name
                                                }
                                            </td>
                                            <td>
                                                @order.OrderDate
                                            </td>
                                            <td>
                                                @order.PickUpDate
                                            </td>
                                            <td>
                                                @order.CompletedDate
                                            </td>
                                            <td>
                                                @order.CommentShop
                                            </td>
                                            <td>
                                                @order.OrderStatus
                                            </td>
                                            <td>
                                                @if (order.OrderStatus == Blomsterbinderiet.Enums.Status.Ny)
                                                {
                                                    <form method="post" asp-page-handler="Confirm" asp-route-id="@order.Id"><button class="btn btn-primary" id="btngreen">Bekræft</button></form>
                                                    <form method="post" asp-page-handler="Deny" asp-route-id="@order.Id"><button class=" btn btn-primary mt-2" id="btnred">Afvis</button></form>
                                                <td><a class="btn btn-primary" id="btngreen" asp-page="/UserPages/OrderDetails" asp-route-id="@order.Id"><i class="fa fa-search"></i></a></td>
                                                }
                                                else if (order.OrderStatus == Blomsterbinderiet.Enums.Status.Bekræftet)
                                                {
                                                    <form method="post" asp-page-handler="InProgress" asp-route-id="@order.Id"><button class="btn btn-primary" id="btngreen">Start produktion</button></form>
                                                <td><a class="btn btn-primary" id="btngreen" asp-page="/UserPages/OrderDetails" asp-route-id="@order.Id"><i class="fa fa-search"></i></a></td>
                                                }
                                                else if (order.OrderStatus == Blomsterbinderiet.Enums.Status.Klargøres)
                                                {
                                                    <form method="post" asp-page-handler="InProgress" asp-route-id="@order.Id"><button class="btn btn-info">Overtag klargøring</button></form>
                                                    <form method="post" asp-page-handler="ChangeStatus" asp-route-id="@order.Id"><button class="btn btn-primary mt-2" id="btngreen">Klar til afhentning</button></form>
                                                <td><a class="btn btn-primary" id="btngreen" asp-page="/UserPages/OrderDetails" asp-route-id="@order.Id"><i class="fa fa-search"></i></a></td>
                                                }
                                                else if (order.OrderStatus == Blomsterbinderiet.Enums.Status.Færdig)
                                                {
                                                    <form method="post" asp-page-handler="ChangeStatus" asp-route-id="@order.Id"><button class="btn btn-primary" id="btngreen">Udleveret</button></form>
                                                <td><a class="btn btn-primary" id="btngreen" asp-page="/UserPages/OrderDetails" asp-route-id="@order.Id"><i class="fa fa-search"></i></a></td>
                                                }
                                                else if (order.OrderStatus == Blomsterbinderiet.Enums.Status.Udleveret || order.OrderStatus == Blomsterbinderiet.Enums.Status.Afvist)
                                                {
                                                <td><a class="btn btn-primary" id="btngreen" asp-page="/UserPages/OrderDetails" asp-route-id="@order.Id"><i class="fa fa-search"></i></a></td>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
