@page
@model CreateProductModel
@{
}
<div class="container p-4">
    <div class="col-md-12">
        <div class="card mb-3 p-3" id="titlecard">
            <h1>Opret produkt</h1>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <form method="post" enctype="multipart/form-data">
                        <div>
                            <label asp-for="@Model.Product.Name"></label>
                            <input asp-for="@Model.Product.Name" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.Product.Name" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="@Model.Product.Description"></label>
                            <input asp-for="@Model.Product.Description" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.Product.Description" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="@Model.Product.Price"></label>
                            <input asp-for="@Model.Product.Price" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="@Model.Product.UploadedImage"></label>
                            <input asp-for="@Model.Product.UploadedImage" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.Product.UploadedImage" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="@Model.Product.Colour"></label>
                            <input asp-for="@Model.Product.Colour" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.Product.Colour" class="text-danger"></span>
                        </div>
                        <div>
                            @{
                                if (Model.ProductKeywords == null)
                                {

                                }
                                else
                                {
                                    int length = Model.ProductKeywords.Count();
                                    for (int i = 0; i < length; i++)
                                    {
                                        @Model.ProductKeywords[i].Name
                                        <a asp-page-handler="Remove" asp-route-id="@i" class="btn btn-primary" id="btnlight">Fjern</a>
                                        <input asp-for="@Model.ProductKeywords[i]" hidden />
                                    }
                                }
                            }
                        </div>
                        @if (Model.Confirmation != null)
                        {
                            <p>@Model.Confirmation</p>
                        }
                        <br />
                        <button type="submit" class="btn btn-primary" id="btnyellow">Opret produkt</button>
                        <a asp-page="/Product/GetAllProducts" class="btn btn-primary" id="btnlight">Fortryd</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




