@page
@model CreateProductModel
@{
}
<div class="container p-4">
    <div class="col-md-12">
        <div class="card mb-3 p-3" id="titlecard">
            <h1>Opret produkt</h1>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <form method="post" enctype="multipart/form-data">
                        <div>
                            <label asp-for="@Model.Product.Name"></label>
                            <input asp-for="@Model.Product.Name" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.Product.Name" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="@Model.Product.Description"></label>
                            <input asp-for="@Model.Product.Description" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.Product.Description" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="@Model.Product.Price"></label>
                            <input asp-for="@Model.Product.Price" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="@Model.Product.UploadedImage"></label>
                            <input asp-for="@Model.Product.UploadedImage" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.Product.UploadedImage" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="@Model.Product.Colour"></label>
                            <input asp-for="@Model.Product.Colour" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.Product.Colour" class="text-danger"></span>
                        </div>
                        <div>
                            <p class="pt-2">Keywords</p>
                            <select class="form-select-lg" multiple asp-for="@Model.KeywordIDs">
                                @foreach(Models.Keyword keyword in Model.ProductKeywords)
                                {
                                    <option value="@keyword.ID">@keyword.Name</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.KeywordIDs" class="text-danger"></span>
                            <p>Hold CRTL og/eller SHIFT nede for at vælge flere tags</p>
                        </div>
                        @if (Model.Confirmation != null)
                        {
                            <p>@Model.Confirmation</p>
                        }
                        <br />
                        <button type="submit" class="btn btn-primary" id="btnyellow">Opret produkt</button>
                        <a asp-page="/Product/GetAllProducts" class="btn btn-primary" id="btnlight">Fortryd</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




