@page "{id:int}"
@model ProductDetailsModel
@{
}
<div class="row justify-content-center"> @* potential for an carousel *@
    @{
        if (Model.Product.Image != null)
        {
            var base64 = Convert.ToBase64String(Model.Product.Image);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <img src="@imgSrc" class="img-thumbnail col-8" />
        } else
        {
            <img class="img-thumbnail col-8" src="https://i0.wp.com/godstedlund.dk/wp-content/uploads/2023/04/placeholder-5.png?w=1200&ssl=1" />
        }
    }

    <div class="col-8 py-3 text-center">
        <a><img class="col-1" src="https://dfstudio-d420.kxcdn.com/wordpress/wp-content/uploads/2019/06/digital_camera_photo-1080x675.jpg" /></a>
        <a><img class="col-1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" /></a>
        <a><img class="col-1" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_image_Processing.jpg" /></a>
        <a><img class="col-1" src="https://buffer.com/library/content/images/2023/09/instagram-image-size.jpg" /></a>
        <a><img class="col-1" src="https://media.istockphoto.com/id/1322220448/photo/abstract-digital-futuristic-eye.jpg?s=612x612&w=0&k=20&c=oAMmGJxyTTNW0XcttULhkp5IxfW9ZTaoVdVwI2KwK5s=" /></a>
        <a><img class="col-1" src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg" /></a>
        <a><img class="col-1" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" /></a>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-9">
                <p>@Model.Product.Description</p>
            </div>
            <div class="col-3">
                <form method="post">
                    <input asp-for="ProductID" class="form-control" value="@Model.Product.ID" hidden/>
                    <div class="form-group col mb-2">
                        <label asp-for="Amount"></label>
                        <input asp-for="Amount" class="form-control" value="1" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Tilføj til kurv</button>
                </form>
                <a asp-page="GetAllProducts" class="btn btn-primary mb-2">Tilbage til oversigten</a>
                <a class="btn btn-primary" type="button" title="Se mere" asp-page="ProductDetails" asp-route-id="@Model.Product.ID">Se mere</a>
                @if (HttpContext.User.IsInRole("Admin") || HttpContext.User.IsInRole("Employee"))
                {
                    <a class="btn btn-primary" asp-page="/Admin/UpdateProduct" asp-route-id="@Model.Product.ID"><i class="fa fa-pencil-square-o"></i> Opdater</a>
                }
            </div>
        </div>
    </div>
</div>