@page
@model UpdateProductModel
@{
}
<form method="post" enctype="multipart/form-data">
    <input asp-for="@Model.Product.ID" class="form-control" hidden />
    <div>
        <label asp-for="@Model.Product.Name"></label>
        <input asp-for="@Model.Product.Name" class="form-control" />
        <span asp-validation-for="@Model.Product.Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.Product.Description"></label>
        <input asp-for="@Model.Product.Description" class="form-control" />
        <span asp-validation-for="@Model.Product.Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.Product.Price"></label>
        <input asp-for="@Model.Product.Price" class="form-control" />
        <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.Product.UploadedImage"></label>
        <input asp-for="@Model.Product.UploadedImage" class="form-control" />
        <span asp-validation-for="@Model.Product.UploadedImage" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.Product.Colour"></label>
        <input asp-for="@Model.Product.Colour" class="form-control" />
        <span asp-validation-for="@Model.Product.Colour" class="text-danger"></span>
    </div>
    <div>
        <select class="form-select-lg" multiple asp-for="@Model.KeywordIDs">
            @foreach (Models.Keyword keyword in Model.ProductKeywords)
            {
                if (Model.KeywordIDs.Contains(keyword.ID))
                {
                    <option selected value="@keyword.ID">@keyword.Name</option>
                } else
                {
                    <option value="@keyword.ID">@keyword.Name</option>
                }
            }
        </select>
        <span asp-validation-for="@Model.KeywordIDs" class="text-danger"></span>
        <p>Hold CRTL og/eller SHIFT nede for at vælge flere tags</p>
    </div>
    @if (Model.Confirmation != null)
    {
        <p>@Model.Confirmation</p>
    }
    <br />
    <button type="submit" class="btn btn-success">Opdater</button>
    <a asp-page="/Product/GetAllProducts" class="btn btn-danger">Fortryd</a>
</form>