@page
@model Blomsterbinderiet.Pages.UserPages.MyOrdersModel
@{
}
<div class="container p-4">
    <div class="col-md-12">
        <div class="card mb-3 p-3" id="titlecard">
            <h1>Dine ordrer</h1>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr class="table-success">
                            <th>ID</th>
                            <th>Bestillingsdato</th>
                            <th>Afhentningsdato</th>
                            <th>Mængde</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.Orders)
                        {
                            <tr class="table-warning">
                                <td>@order.Order.Id</td>
                                <td>@order.Order.OrderDate</td>
                                <td>@order.Order.PickUpDate</td>
                                <td>@order.Amount</td>
                                <td>@order.Order.OrderStatus</td>
                                <td><a class="btn btn-primary" id="btngreen" asp-page="/UserPages/OrderDetails" asp-route-id="@order.Order.Id">Se detaljer</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
