@page
@model Blomsterbinderiet.Pages.UserPages.UpdateUserModel
@{
}
<div class="container p-4">
    <div class="col-md-12">
        <div class="card mb-3 p-3" id="titlecard">
            <h1>Opdater profil</h1>
        </div>
        <form method="post">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Navn</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input asp-for="@Model.User.Name" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.User.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input asp-for="@Model.User.Email" class="form-control" id="noborder" readonly />
                            <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Telefon</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input asp-for="@Model.User.Phone" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.User.Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Adresse</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input asp-for="@Model.User.Address" class="form-control" id="noborder" />
                            <span asp-validation-for="@Model.User.Address" class="text-danger"></span>
                            <input asp-for="@Model.User.Password" class="form-control" id="noborder" hidden value="placeholder" />
                            <input asp-for="@Model.User.ID" class="form-control" id="noborder" hidden />
                            <input asp-for="@Model.User.Role" class="form-control" id="noborder" hidden />
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" id="btnyellow">Opdater profil</button>
                            <a class="btn btn-primary" id="btnlight" asp-page="/UserPages/ProfilePage">Tilbage</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @{
            if (Model.Message != null)
            {
                <p class="text-success">@Model.Message</p>
            }
        }
    </div>
</div>



