@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a class="btn btn-danger text-center container-fluid pt-3" id="btngreen" href="Product/GetAllProducts">
    <h4>Mors dag er lige om hjørnet, køb din buket her</h4>
</a>
<form method="post">
    <div class="row mt-2">
        <div class="input-group mb-3 col-12 ">
            <input class="form-control-lg col border border-top-2 border-bottom-2 border-left-2 border-right-0 border-dark" asp-for="@Model.SearchString" placeholder="Søg på produkter">
            <div class="input-group-append">
                <button class="btn-lg btn-secondary" type="submit">Søg på produkter <i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</form>

<div class="card mt-5" id="outercard">
    <div class="container">
        <div class="row p-4 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
            @{
                var productList = Model.ProductService.GetAllProductsAsync().Result;
                int length = productList.Count();
                if (length > 4)
                {
                    length = 4;
                }
            }
            @for (int i = 0; i < length; i++) @* Rettet, så det starter på 0 *@
            {
                var product = productList.ElementAt(i);
                <div class="pb-3 px-3">
                    <div class="col card p-3">
                        @{
                            if (product.Image != null)
                            {
                                var base64 = Convert.ToBase64String(product.Image);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                <a asp-page="/Product/ProductDetails" asp-route-id="@product.ID"><img src="@imgSrc" class="img-thumbnail col-12 mb-3" /></a>
                            }
                            else
                            {
                                <a asp-page="/Product/ProductDetails" asp-route-id="@product.ID"><img class="img-thumbnail col-12 mb-3" src="https://i0.wp.com/godstedlund.dk/wp-content/uploads/2023/04/placeholder-5.png?w=1200&ssl=1" /></a>
                            }
                        }
                        <div>
                            <h5 class="font-weight-bold ">@product.Name</h5>
                            @{
                                string description = product.Description;
                                if (description.Length > 60)
                                {
                                    description = description.Substring(0, 57) + "...";
                                }
                                <p>@description</p>
                            }
                            <p class="text-center pt-2">
                                <a class="btn btn-danger text-center" id="btngreen" type="button" title="Se mere" asp-page="/Product/ProductDetails" asp-route-id="@product.ID">Se mere</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="card mt-5">
    <div class="card-body">
        <h1 class="card-title text-center pt-4">Tag den smukkeste afsked</h1>
        <div class="row pt-4 pb-5">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Kistepynt</h3>
                        <a asp-page="/Product/GetAllProducts"><img src="/images/Kistepynt.png" class="img-thumbnail col-12 mb-3" /></a>
                        <p class="text-center pt-2">
                            <a class="btn btn-lg btn-danger text-center" id="btngreen" href="Product/GetAllProducts">Se mere</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Bårebuketter</h3>
                        <a asp-page="/Product/GetAllProducts"><img src="/images/Bårebuket.png" class="img-thumbnail col-12 mb-3" /></a>
                        <p class="text-center pt-2">
                            <a class="btn btn-lg btn-danger text-center" id="btngreen" href="Product/GetAllProducts">Se mere</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Farvelroser mm.</h3>
                        <a asp-page="/Product/GetAllProducts"><img src="/images/Farvelrose2.png" class="img-thumbnail col-12 mb-3" /></a>
                        <p class="text-center pt-2">
                            <a class="btn btn-lg btn-danger text-center" id="btngreen" href="Product/GetAllProducts">Se mere</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center pt-2 pb-4">
            <a class="btn btn-lg btn-danger text-center" id="btngreen" href="Product/GetAllProducts">Se vores udvalg</a>
        </p>
    </div>
</div>
<div class="card mt-5 mb-5">
    <div class="card-body">
        <h1 class="card-title text-center pt-4">Skal du giftes i 2024?</h1>
        <p class="card-text text-center pt-2">Find inspiration til din brudebuket og alle de andre blomster til din store dag</p>
        <p class="text-center pt-2 pb-4">
            <a class="btn btn-lg btn-danger text-center" id="btngreen" href="Product/Wedding">Se galleri</a>
        </p>
    </div>
</div>
