@page
@model Blomsterbinderiet.Pages.Basket.BasketModel
@{
}
<h1>Kurv</h1>
<table class="table">
    <thead>
        <tr>
            <th>Produkt</th>
            <th>Stykpris</th>
            <th>Antal</th>
            <th>Totalpris</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Models.OrderLine item in Model.OrderLines)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price</td>
                <td>@item.Amount</td>
                <td>@(item.Product.Price * item.Amount)</td>
            </tr>
        }
    </tbody>
</table>
<div>Ordresum @Model.OrderSum <a class="btn" asp-area="" asp-page="/UserPages/Login">Færdiggør Order</a></div>
