@page
@model Blomsterbinderiet.Pages.Basket.CheckOutModel
@{
}

<div class="container p-4">
    <div class="col-md-10">
        <div class="card mb-3 p-3" id="titlecard">
            <h1>Ordreoplysninger</h1>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" id="textcolor">Navn</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Name
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Email
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Telefon</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Phone
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Adresse</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Address
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-danger" id="btngreen" asp-page="/UserPages/UpdateUser">Rediger oplysninger</a>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="col-md-10">
        <div class="card p-3" id="titlecard">
            <table class="table">
                <thead>
                    <tr class="table-success">
                        <th>Produkt</th>
                        <th>Stykpris</th>
                        <th>Antal</th>
                        <th>Totalpris</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Models.OrderLine item in Model.OrderLines)
                    {
                        <tr class="table-warning">
                            <td>@item.Product.Name</td>
                            <td>@item.Product.Price</td>
                            <td>@item.Amount</td>
                            <td>@(item.Product.Price * item.Amount)</td>
                        </tr>
                    }
                </tbody>
            </table>

            <u>Totalpris @Model.OrderSum kr</u>

            <form method="post">
                <hr>
                <div class="form-group pt-1 pb-2">
                    <label asp-for="PickUpDate" class="col-form-label ">Afhentningstidspunkt</label>
                    <div>
                        <input asp-for="PickUpDate" value="@DateTime.Now.AddDays(1)" />
                    </div>
                </div>

                @if (Model.User.Role == "Undertaker")
                {

                    <hr>
                    <div class="form-group">
                        <label asp-for="@Model.DeseasedName" class="control-label"></label>
                        <input asp-for="@Model.DeseasedName" class="form-control" id="noborder" />
                        <span asp-validation-for="@Model.DeseasedName" class="text-danger"></span>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label asp-for="@Model.CeremonyStart" class="control-label"></label>
                        <input asp-for="@Model.CeremonyStart" class="form-control" id="noborder" />
                        <span asp-validation-for="@Model.CeremonyStart" class="text-danger"></span>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label asp-for="@Model.Address" class="control-label"></label>
                        <input asp-for="@Model.Address" class="form-control" id="noborder" />
                        <span asp-validation-for="@Model.Address" class="text-danger"></span>
                    </div>
                    <hr />

                }
                @if (Model.User.Role == "Customer" || Model.User.Role == "Admin")
                {
                    <button class="btn btn-danger" id="btnyellow" type="submit" title="Bekræft" asp-page-handler="OnPostAsync">Bekræft ordre</button>
                }
                @if (Model.User.Role == "Undertaker")
                {
                    <button class="btn btn-danger" id="btnyellow" type="submit" title="Bekræft" asp-page-handler="WithDelivery">Bekræft ordre</button>
                }
            </form>
        </div>
    </div>
</div>