@page
@model Blomsterbinderiet.Pages.Basket.CheckOutModel
@{
}


<div class="container p-4">
    <div class="col-md-10">
        <div class="card mb-3 p-3" id="titlecard">
            <h1>Ordreoplysninger</h1>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" id="textcolor">Navn</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Name
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Email
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Telefon</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Phone
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Adresse</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Address
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-danger" id="btngreen" asp-page="/UserPages/UpdateUser">Rediger oplysninger</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.User.Role == "Undertaker")
    {
        <div class="form-group">
            <label asp-for="@Model.Delivery.DeseasedName" class="control-label">Afdødes navn</label>
            <input asp-for="@Model.Delivery.DeseasedName" class="form-control" id="noborder" />
            <span asp-validation-for="@Model.Delivery.DeseasedName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Delivery.CeremonyStart" class="control-label">Begravelses start</label>
            <input asp-for="@Model.Delivery.CeremonyStart" class="form-control" id="noborder" />
            <span asp-validation-for="@Model.Delivery.CeremonyStart" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Delivery.Address" class="control-label">Afleveringssted</label>
            <input asp-for="@Model.Delivery.Address" class="form-control" id="noborder" />
            <span asp-validation-for="@Model.Delivery.Address" class="text-danger"></span>
        </div>
    }
            

    <div class="col-md-10">
        <div class="card p-3" id="titlecard">


            <table class="table">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Stykpris</th>
                        <th>Antal</th>
                        <th>Totalpris</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Models.OrderLine item in Model.OrderLines)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Product.Price</td>
                            <td>@item.Amount</td>
                            <td>@(item.Product.Price * item.Amount)</td>
                        </tr>
                    }
                </tbody>
            </table>

          
            
            <u>Totalpris @Model.OrderSum kr</u>

            <form method="post">
                <div class="form-group pt-4 pb-4">
                    <label asp-for="PickUpDate" class="col-form-label ">Afhentningstidspunkt</label>
                    <div>
                        <input asp-for="PickUpDate" />
                    </div>
                    <label asp-for="PickUpTime" class="col-form-label ">Afhentningstidspunkt</label>
                    <div>
                        <input asp-for="PickUpTime" />
                    </div>
                </div>
                <button class="btn btn-danger" id="btnyellow" type="submit" title="Bekræft" asp-page-handler="OnPostAsync">Bekræft ordre</button>
            </form>


        </div>

    </div>



</div>